body {
    margin-left: 100px;
    margin-right: 100px;
    border-left: 1px solid #838383;
    border-right: 1px solid #6E6A5F;
    box-shadow: 0px 0px 5px gray;
    padding-top: 25px;
}

/* header */

.logo {
    margin-left: 45px;
    padding-bottom: 20px;
}

/* menu */

.dws-menu * {
    margin: 0px;
    padding: 0px;
    outline: none;
}

.dws-menu ul {
    width: 93%;
    height: 40px;
    background: url("../img/menu.png");
    margin-left: 45px;
    margin-right: 45px;
}

.dws-menu {
    margin-top: 15px;
}

.dws-menu ul {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
}

.dws-menu a{
    display: block;
}

.dws-menu ul li a {
    margin-top: 2px;
    padding: 6px 30px 10px 30px;
    padding-right: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dws-menu > ul li {
    position: relative;
    border-right: 1px solid #838383;
}

.dws-menu li a:hover{
    background: #343434;
}

/* box left */

.box{
    margin-top: 50px
}
.box ul {
    list-style: none;
}
.box ul li a {
    display: inline-block;
    background: white;
    padding: 10px 30px 7px 30px;
    color: black;
    text-decoration: none;
    transition: 0.6s;
}

.box a {
    border: 1px solid #000;
    width: 240px;
    height: 40px;
    margin-left: 5px;

}

.box a:hover{
    background: #E1E1E1;
}

/* img bike */

.box {
    display: flex;
}

.bike {
    padding-left: 85px;
    padding-top: 15px;
    width: 500px;
}

.text {
    padding-left: 430px;
    padding-top: 40px;
}

.text p {
    /*border: 1px solid #000;*/
    padding: 7px;
    width: 665px;
}

/* footer */

footer {
    padding-bottom: 45px;
}

.footer {
    width: 93%;
    height: 40px;
    background-color: #e1e1e1 ;
    margin-left: 45px;
}

.footer {
    margin-top: 80px;
}

.footer a {
    margin-top: 5px;
}

.footer ul {
    list-style: none;
    display: inline-block;
    height: 40px;
}

.menu-footer > ul {
    display: flex;
}

.footer ul li a {
    display: block;
    padding: 7px 30px 15px 30px;
    padding-right: 100px;
    color: #000000;
    text-decoration: none ;
    transition: all 0.6s ease;
    text-align: center;
}

.menu-footer a:hover {
    text-decoration: underline;
}

copy {
    display: block;
    float: right;
}

.copy p {
    display: block;
    float: right;
    padding-left: 90px;
    margin-top: 10px;
}
